#### Introduction to functions

Defination:

A function is a block of code which performs a specific task. Functions help in organizing code, reusing code, and improve readibility.

In [2]:
## syntax
def function_name(parameters):
    """Docstirng"""
    #Function body
    return expression

In [4]:
##why functions?

num=24
if num%2==0:
    print("THe number is even")
else :
    print("THe number is oddd")

THe number is even

In [5]:
def even_or_odd(num):
    """This functions finds even or odd number"""
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [7]:
##Calling this function

even_or_odd(23)

The number is odd

In [8]:
##Function with multiple parameters

def add(a,b):
    return a+b


result=add(2,4)
print(result)

6

In [9]:
##Default parameters

def greet(name):
    print(f"Hello {name} welcome to the Paradise")

greet("Equaan")

Hello Equaan welcome to the Paradise

In [11]:
def greet(name="Guest"):
    print(f"Hello {name} welcome to the Paradise")

greet("Equaan")

Hello Equaan welcome to the Paradise

In [ ]:
##Variable Length Arguments
##Positional and Keywords argument


##Positional arguements
def print_numbers(*args):
    for nnumbers in args:
        print(nnumbers)

In [13]:
print_numbers(1,2,3,4,5,6,7,8,"equaan")

1
2
3
4
5
6
7
8
equaan

In [16]:
##Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [17]:
print_details(name="equaan", age="21", country="India")

name:equaan
age:21
country:India

In [22]:
def print_detail(*args,**kwargs):
    for val in args:
        print(f"Positional arguement:{val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [23]:
print_detail(1,2,3,4,5,"equaan",name="equaan", age="21", country="India")

Positional arguement:1
Positional arguement:2
Positional arguement:3
Positional arguement:4
Positional arguement:5
Positional arguement:equaan
name:equaan
age:21
country:India

In [27]:
##Return statement

def multiply(a,b):
    return a*b

multiply(2,3)

6

In [26]:
##Return multiple statements
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)